a, a:active, a:hover, a:visited{
    text-decoration: none;
    counter-reset: #000;
}

.menu{

    nav{
        background-color: transparent;
        background-image: linear-gradient(transparent, transparent );
        padding: 27px 0px;
        z-index: 10;
        width: 91.5%;
        position: fixed;
        top: 0px; 
        transition: all 0.5s ease-in-out; 
    }

    #block-mytheme-main-menu{
        width: 1008px;
    }

    #block-useraccountmenu{
        width: 432px;
        margin-left: 70%;

        ul {
            // width: 30%;
            margin-right: 200px;
            & li{ 
            float: left;
            }
        }
    }
}




ul.menu{ 
    margin-top:1px;            
    z-index: 1;
    width: 100%;
    text-align: center;
    display: inline-block;

& li{
    padding: 10px;
    width: 130px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #fff; 
    text-transform: uppercase;
}

& a{
    color: #fff;

    &:hover{ 
        font-size: 20px;
        transition: 500ms;
    } 
}
} 

header {
  .logo {
    grid-area: logo;
  }

  .nav {
    grid-area: nav;
  }

  .user {
    grid-area: user;
  }
}



.heading{ 
    color: #fff;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
 
    & h1{
        margin: 0 25%;
        // position: fixed;
        color: #fff;
        margin-top: -400px;
    }
}

.header img{  
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

#block-mytheme-branding{
    background-color:rgba(1,1,1,0.5);
    position : fixed; 
    // z-index: 0;
    width: 100%;
    // background-image: linear-gradient(transparent, #000 777%);
    transition: all 0.5s ease-in-out;

    & a{
        font-size: 20px;
        color: #fff;

        & img{
            width: 85px;
            height: 65px;
            overflow: hidden; 
            margin:15px 15px 10px 12px; 
        }
    } 
}

#block-banner1{
    margin-top: 0;
}

#block-mytheme-breadcrumbs{
    display: none;
}

.language-switcher-language-url{
    background-color:transparent;
    position : fixed;
    top: 32px;
    width: 40%;
    margin-left: 81%;
    z-index: 15;

}
    .lang-dropdown-select-element{
      
    & ul{
        margin: 0;
        display: grid;
   
        & li{

            list-style-type: none;
            
            & a{
                color: #fff;
                float: right;
            }
        }
    }
}



#block-languagedropdownswitcher form{
    margin-left: 85.5%;
    padding: 0;
    background-color:transparent;
    position : fixed;
    top: 32px;
    width: 15%; 
    z-index: 15;

    & select{
        background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; 
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;

        & option{
            color: #000;
            background: #fff; 
        }
    }
} 

@media (max-width: 768px) { 
    ul.menu{
        margin-top: 7px;
        margin-left: -25px;

        & li{
            padding: 6px;
            width: 14%;
            font-size: 16px;    
        }
    }

    #block-mytheme-branding{ 
        width: 768px;
    }

    #block-languagedropdownswitcher form{
        margin-left: 78%;

        & select{
            width: 768px;
        }
    }
    
}

@media (max-width: 425px) { 
    ul.menu{
        margin-top: 2px;
        margin-left: 0;

        & li{
            padding: 10px;
            width: 13%;
            font-size: 20px;    
        }
    }

    #block-mytheme-branding{ 
        width: 425px;
    }

    #block-languagedropdownswitcher form{
        margin-left: 29.5%; 

        & select{
            width: 768px;
        }
    }  
}

@media (max-width: 375px) {  
    #block-mytheme-branding{ 
        width: 375px;
    } 

    #block-languagedropdownswitcher form{
        margin-left: 33.5%; 
    }  
}

@media (max-width: 320px) {  
    #block-mytheme-branding{ 
        width: 320px;
    }

    .heading h1 {
        margin-left: 60px;
    }

    #block-languagedropdownswitcher form{
        margin-left: 30.79%; 
    }  
}