
.user-login-form{
    padding: 0 17%;
}

.content #block-mytheme-local-tasks{
    & ul {
        justify-content: space-between;
        // margin: 270px 0 50px 0;
        // position: absolute;
        // padding-left: 0;
        width: 100%;

        & li{ 
            & a{
                color: #607d8b;
                font-weight: 500;
                font-size: 18px;

                &:hover{
                    color: black;
                }
            }
        }
    }
}

