.contextual-region footer {
  position: relative;
  color: #313131;
  padding: 20px;
  text-align: unset;
  height: 15px;
  background-color: #fff; }

footer {
  position: relative;
  width: 100%;
  background-color: #313131;
  color: #fff;
  text-align: center;
  padding: 20px 35px;
  bottom: 0;
  text-align: left; }

.footer--top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 65px;
  color: #b3b3b3; }
  .footer--top #block-mainnavigation ul {
    list-style-type: none; }
    .footer--top #block-mainnavigation ul li {
      margin-bottom: 10px; }
      .footer--top #block-mainnavigation ul li a {
        color: #b3b3b3;
        text-transform: uppercase; }
        .footer--top #block-mainnavigation ul li a:hover {
          transition: 500ms;
          text-decoration: underline; }
  .footer--top div {
    width: 100%; }

.footer--top .region {
  padding: 5px; }

.region-footer-first, .region-footer-second, .region-footer-third {
  flex: 0 1 30%; }

#block-mainnavigation-menu {
  margin-left: 40px; }

#block-footer1 {
  width: 500px; }

#block-footer1 h2, #block-mainnavigation h2, #block-searchform h2, .footer--top .views-element-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 47px;
  left: 0;
  width: 150px;
  height: 2px;
  text-decoration: underline;
  text-decoration-color: #f5363f;
  text-underline-position: under; }

#block-footer1 #linkicon-node-contact-inf-field-contact-info-17, #block-mainnavigation #linkicon-node-contact-inf-field-contact-info-17, #block-searchform #linkicon-node-contact-inf-field-contact-info-17, .footer--top .views-element-container #linkicon-node-contact-inf-field-contact-info-17 {
  list-style-type: none;
  margin-left: -37px; }
  #block-footer1 #linkicon-node-contact-inf-field-contact-info-17 li, #block-mainnavigation #linkicon-node-contact-inf-field-contact-info-17 li, #block-searchform #linkicon-node-contact-inf-field-contact-info-17 li, .footer--top .views-element-container #linkicon-node-contact-inf-field-contact-info-17 li {
    margin-bottom: 10px; }
    #block-footer1 #linkicon-node-contact-inf-field-contact-info-17 li .linkicon__text, #block-mainnavigation #linkicon-node-contact-inf-field-contact-info-17 li .linkicon__text, #block-searchform #linkicon-node-contact-inf-field-contact-info-17 li .linkicon__text, .footer--top .views-element-container #linkicon-node-contact-inf-field-contact-info-17 li .linkicon__text {
      margin-left: 10px; }

.fontawesome-icons {
  display: flex; }
  .fontawesome-icons .fontawesome-icon {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #222;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px; }
    .fontawesome-icons .fontawesome-icon:hover {
      background: linear-gradient(326deg, #f5363f 0%, #e86543 74%); }

#block-poweredbydrupal {
  padding: 10px;
  margin: -45px;
  text-align: center;
  background: #181818; }

@media (max-width: 1440px) {
  #block-views-block-font-awesome-icons-block-1 > div:first-child {
    margin-left: 0; }
  #block-views-block-font-awesome-icons-block-1 .views-row {
    margin-left: 0;
    width: 100%;
    box-shadow: none; } }

@media (max-width: 768px) {
  footer {
    padding: 10px;
    width: 768px;
    display: block; }
  .footer--top {
    display: inline-block;
    width: 728px; }
    .footer--top #block-mainnavigation ul {
      padding-left: 0; }
  #block-footer1 {
    width: 728px; }
  #block-mainnavigation-menu {
    margin-left: 0; }
  #block-poweredbydrupal {
    width: 104.7%; } }

@media (max-width: 425px) {
  footer {
    width: 425px; }
  .footer--top {
    display: inline-block;
    width: 385px; }
  #block-footer1 {
    width: 385px; }
  #block-poweredbydrupal {
    width: 111%; } }

@media (max-width: 375px) {
  footer {
    width: 375px; }
  .footer--top {
    display: inline-block;
    width: 335px; }
  #block-footer1 {
    width: 335px; }
  #block-poweredbydrupal {
    width: 111.5%; } }

@media (max-width: 320px) {
  footer {
    width: 320px; }
  .footer--top {
    display: inline-block;
    width: 280px; }
  #block-footer1 {
    width: 280px; } }
