#block-mytheme-page-title h1 {
  color: #607d8b;
  border-bottom: 4px solid #ff4584;
  width: 182px; }

.form-text, .form-select, .form-email, .form-textarea {
  background: transparent;
  border: 1px solid #607d8b;
  color: #607d8b;
  font-weight: 400;
  outline: none;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  width: 400px; }

.form-item {
  width: 400px; }

.views-exposed-form {
  margin-bottom: 25px; }

.js-form-item {
  margin: 5px 0; }

.form-select {
  appearance: none; }

.webform-button--submit, #edit-submit-recent-blogs, .form-submit {
  background: #607d8b;
  border: none;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px; }

#edit-select-for-contact, .form-select {
  width: 440px; }

form {
  padding: 0 32%; }

.form-actions {
  text-align: center; }

#block-mytheme-page-title h1 {
  width: 100%;
  text-align: center; }
