#block-mytheme-page-title h1 {
  color: #607d8b;
  border-bottom: 4px solid #ff4584;
  width: 182px;
  margin-top: 50px; }

.form-text, .form-select, .form-email, .form-textarea {
  background: transparent;
  border: 1px solid #607d8b;
  color: #607d8b;
  font-weight: 400;
  outline: none;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
  width: 400px; }

.webform-button--submit, #edit-submit-recent-blogs, .form-submit {
  background: #607d8b;
  border: none;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px; }

#edit-select-for-contact, .form-select {
  width: 440px;
  margin-bottom: 10px; }

form {
  padding: 0 32%; }

.form-actions {
  text-align: center; }

#block-mytheme-page-title h1 {
  width: 100%;
  text-align: center; }

.js-form-item-created, .js-form-item-select-for-contact, .js-form-item-lang-dropdown-select {
  position: relative;
  float: left; }

select::-ms-expand {
  display: none; }

.js-form-item-created:after, .js-form-item-select-for-contact:after, .js-form-item-lang-dropdown-select:after {
  content: '\25b6';
  font: 17px "Consolas", monospace;
  color: #607d8b;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 20px;
  top: 10px;
  position: absolute;
  pointer-events: none; }

.js-form-item-created select, .js-form-item-select-for-contact select, .js-form-item-lang-dropdown-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  font-size: 16px; }

.js-form-item-lang-dropdown-select::after {
  color: #fff; }

.webform-submission-form .form-item-select-for-contact::after {
  top: 34px; }

.webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-flex--container > .form-item > select {
  width: 400px; }

@media (max-width: 768px) {
  .content {
    margin: 10px;
    margin-top: 50px; }
  form {
    padding: 0 21%; }
  .form-submit {
    margin-bottom: 30px; }
  #block-mytheme-page-title h1 {
    border-bottom: 2.7px solid #ff4584;
    font-size: 25px;
    margin-top: 40px; } }

@media (max-width: 425px) {
  .content {
    width: 95%; }
  form {
    padding: 0 2%; }
  .webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-flex--container > .form-item > select {
    width: 348px; }
  #edit-select-for-contact, .form-select {
    width: 390px; }
  .webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-flex--container > .form-item > select {
    width: 300px;
    margin-left: 0; }
  #edit-select-for-contact, .form-select {
    width: 342px;
    margin-left: 25px; }
  .js-webform-flexbox {
    margin-left: 25px; }
  .js-form-required {
    margin-left: 25px; }
  .form-text, .form-select, .form-email, .form-textarea, .text-count-message, .description {
    width: 300px;
    margin-left: 25px; }
  .js-form-item-name .js-form-required {
    margin-left: 0; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-select {
    width: 361px;
    margin-left: 0; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-text {
    width: 320px;
    margin-left: 0; } }

@media (max-width: 375px) {
  .js-webform-flexbox, .js-form-required {
    margin-left: 0; }
  #edit-select-for-contact, .form-select {
    margin-left: 0; }
  .webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-flex--container > .form-item > select {
    width: 300px;
    margin-left: 0; }
  .form-text, .form-select, .form-email, .form-textarea {
    width: 300px;
    margin-left: 0; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-select {
    width: 311px; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-text {
    width: 270px; } }

@media (max-width: 320px) {
  .content {
    width: 92%;
    margin: 12px;
    margin-top: 50px; }
  form {
    padding: 0 2%; }
  .js-form-item-search .form-text, .form-email, .form-textarea {
    width: 242px; }
  .js-form-item-created .form-select {
    width: 292px; }
  .webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-flex--container > .form-item > select {
    width: 243px;
    margin-left: 0; }
  #edit-select-for-contact, .form-select {
    width: 285px; }
  .form-text, .form-select, .form-email, .form-textarea {
    padding: 7px 20px;
    margin-left: 0; }
  .form-submit {
    margin-bottom: 30px; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-select {
    width: 256px; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child form .form-text {
    width: 215px; } }
