.user-login-form {
  padding: 0 17%; }

.content #block-mytheme-local-tasks ul {
  justify-content: space-between;
  width: 100%; }
  .content #block-mytheme-local-tasks ul li a {
    color: #607d8b;
    font-weight: 500;
    font-size: 18px; }
    .content #block-mytheme-local-tasks ul li a:hover {
      color: black; }
