.sidebar_right {
  width: 50%;
  margin-top: 65px; }
  .sidebar_right .views-element-container {
    padding-top: 10px;
    margin-top: 0px;
    width: 90%;
    padding: 10px;
    margin: 0 10px 10px 10px;
    background: #e8e4e494; }
    .sidebar_right .views-element-container h2 {
      font-size: 30px;
      color: #bd4f6c;
      margin-top: 0;
      font-weight: bold; }
    .sidebar_right .views-element-container .views-row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(25px, auto); }
      .sidebar_right .views-element-container .views-row .views-field-field-image {
        grid-column: 1;
        grid-row: 1 / 3; }
        .sidebar_right .views-element-container .views-row .views-field-field-image img {
          width: 105px;
          height: 105px;
          border-radius: 100px; }
    .sidebar_right .views-element-container .views-field-title {
      grid-column: 2 / 4;
      grid-row: 1 / 3; }
    .sidebar_right .views-element-container .views-field-body {
      grid-column: 2 / 4;
      grid-row: 2; }
  .sidebar_right .field-content p {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #000; }

.article img {
  width: 100%;
  height: 500px;
  margin: 18px 0; }

.article .article_title {
  font-size: 30px;
  font-weight: 500; }

.article section h2 {
  font-weight: 500;
  font-size: 18px; }

.article .node_author_published {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin: 23px 0; }
  .article .node_author_published a {
    color: #000; }

@media (max-width: 768px) {
  .main {
    display: block; }
  .sidebar_right .views-element-container {
    width: 100%;
    height: 100%; } }

@media (max-width: 425px) {
  .sidebar_right {
    width: 91%; }
    .sidebar_right .views-element-container {
      width: 99.5%; }
      .sidebar_right .views-element-container .views-row {
        width: 100%;
        margin-bottom: 10px; }
        .sidebar_right .views-element-container .views-row .views-field-title p {
          font-size: 16.2px; } }

@media (max-width: 375px) {
  .sidebar_right .views-element-container {
    width: 98.5%; }
    .sidebar_right .views-element-container .views-row {
      width: 100%;
      margin-bottom: 10px; }
      .sidebar_right .views-element-container .views-row .views-field-body .field-content p {
        font-size: 14px; } }

@media (max-width: 320px) {
  .sidebar_right .views-element-container {
    width: 96.5%; }
    .sidebar_right .views-element-container .views-row {
      width: 100%;
      margin-bottom: 10px; }
      .sidebar_right .views-element-container .views-row .views-field-body .field-content p {
        font-size: 14px;
        margin-top: 15px; } }
