.sidebar_left {
  width: 100%;
  margin-top: 8px; }
  .sidebar_left::before {
    content: '';
    position: absolute;
    width: 49%;
    height: 98.5%;
    background: linear-gradient(225deg, transparent, #d7816a);
    z-index: 1;
    mix-blend-mode: screen; }
  .sidebar_left img {
    width: 100%;
    height: 125%; }

@media (max-width: 768px) {
  .sidebar_left::before {
    width: 100%;
    height: 125%; }
  .sidebar_left img {
    width: 100%;
    height: 125%;
    content: '';
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 125%;
    background: linear-gradient(225deg, transparent, #d7816a); } }
