@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif; }

.main {
  width: 100%;
  display: flex; }
  .main .sidebar {
    z-index: 0;
    width: 30%;
    padding: 45px 45px 45px 0; }
    .main .sidebar .views_slideshow_cycle_slide {
      width: 100%;
      z-index: -1;
      height: 100%; }

.content {
  position: relative;
  width: 70%;
  margin: 45px; }
  .content #block-mytheme-local-tasks ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0; }
  .content footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    color: #313131;
    text-align: left;
    padding: 0;
    bottom: 0; }
  .content img {
    width: 100%; }

.contextual-region {
  position: unset; }
  .contextual-region .contextual .contextual-links {
    display: block; }

.contextual-region footer {
  position: relative;
  color: #313131;
  padding: 20px;
  text-align: unset;
  height: 15px;
  background-color: #fff; }

.field-content img {
  width: 100%;
  height: 45%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.views-element-container h2 {
  text-align: center; }

.contextual {
  visibility: hidden; }

#block-mytheme-views-block-recent-posts-block-1 h2 {
  color: #000;
  width: 100%;
  text-align: center; }

.views-view-grid .views-row {
  display: flex;
  justify-content: space-between; }
  .views-view-grid .views-row .views-col {
    margin: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
    .views-view-grid .views-row .views-col .views-field-field-image:before {
      position: absolute;
      width: 24.2%;
      height: 253px;
      background: #000;
      content: "";
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.5s; }
    .views-view-grid .views-row .views-col:hover .views-field-field-image::before {
      opacity: 0.4;
      transform: scale(1); }
    .views-view-grid .views-row .views-col .views-field-title span p {
      color: #000;
      font-size: 18px;
      font-weight: bold; }
    .views-view-grid .views-row .views-col .views-field {
      padding: 0 10px;
      margin-bottom: 10px; }
      .views-view-grid .views-row .views-col .views-field .vote-widget--like-and-dislike {
        margin-top: 15px; }
    .views-view-grid .views-row .views-col .views-field-uid-1 span {
      color: #777; }
    .views-view-grid .views-row .views-col .views-field-view-node, .views-view-grid .views-row .views-col .views-field-field-image {
      margin-bottom: 0; }
    .views-view-grid .views-row .views-col .views-field-field-image {
      padding: 0; }
    .views-view-grid .views-row .views-col .views-field-view-node a {
      color: #fff;
      display: flex;
      float: left;
      font-size: 14px;
      background-color: #cf7065;
      padding: 10px 20px;
      transition: all 0.5s ease-in;
      width: 75px;
      margin-bottom: 10px; }
    .views-view-grid .views-row .views-col .views-field-view-node a:hover {
      font-size: 14px;
      color: #bd4f6c;
      display: flex;
      float: left;
      border: 1px solid #bd4f6c;
      border-top-right-radius: 20px;
      background-color: transparent;
      text-decoration: none; }

#block-mytheme-views-block-recent-blogs-block-1 h2 {
  color: #000;
  background: none;
  height: 40px;
  width: 100%;
  font-weight: bold; }
