@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif; }

.main {
  width: 100%;
  display: flex; }
  .main .sidebar {
    z-index: 0;
    width: 40%;
    padding: 45px 0; }
    .main .sidebar .views_slideshow_cycle_slide {
      width: 100%;
      z-index: -1;
      height: 100%; }

.content {
  position: relative;
  width: 100%;
  margin: 15px; }
  .content #block-mytheme-local-tasks ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0; }
  .content footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
    color: #313131;
    text-align: left;
    padding: 0;
    bottom: 0; }
  .content img {
    width: 100%; }

.contextual-region {
  position: unset; }
  .contextual-region .contextual .contextual-links {
    display: block; }

.field-content img {
  width: 100%;
  height: 45%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.views-element-container h2 {
  text-align: center;
  position: relative;
  font-weight: 500;
  margin-bottom: 25px; }

.contextual {
  visibility: hidden; }

#block-mytheme-views-block-recent-posts-block-1 h2 {
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }

.views-field-title span {
  color: #000;
  margin: 10px 0px;
  font-size: 18px;
  font-weight: bold; }

.views-field-body .field-content p {
  margin: 10px 0;
  height: 100px; }

#block-mytheme-views-block-recent-blogs-block-1 h2 {
  color: #000;
  background: none;
  height: 40px;
  width: 100%;
  font-weight: bold; }

@media (max-width: 1440px) {
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child, .views-element-container > div:first-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row, .views-element-container > div:first-child .views-row {
      width: 24.1%;
      margin: 5px;
      margin-left: 0;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-field-image::before, .views-element-container > div:first-child .views-row .views-field-field-image::before {
        position: absolute;
        width: 24.1%;
        height: 268px;
        background: #000;
        content: "";
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.5s; }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row:hover .views-field-field-image::before, .views-element-container > div:first-child .views-row:hover .views-field-field-image::before {
        opacity: 0.4;
        transform: scale(1); }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-field-image, .views-element-container > div:first-child .views-row .views-field-field-image {
        margin-bottom: 10px; }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-title, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-body, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-uid-1, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-uid, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-created, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-like-and-dislike, #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-view-node, .views-element-container > div:first-child .views-row .views-field-title, .views-element-container > div:first-child .views-row .views-field-body, .views-element-container > div:first-child .views-row .views-field-uid-1, .views-element-container > div:first-child .views-row .views-field-uid, .views-element-container > div:first-child .views-row .views-field-created, .views-element-container > div:first-child .views-row .views-field-like-and-dislike, .views-element-container > div:first-child .views-row .views-field-view-node {
        padding: 0 10px;
        margin-bottom: 10px; }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .vote-widget--like-and-dislike, .views-element-container > div:first-child .views-row .vote-widget--like-and-dislike {
        margin-top: 15px;
        margin-bottom: 15px; }
      #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-view-node a, .views-element-container > div:first-child .views-row .views-field-view-node a {
        color: #fff;
        display: flex;
        float: left;
        font-size: 14px;
        background-color: #cf7065;
        padding: 10px 20px;
        transition: all 0.5s ease-in;
        width: 75px;
        margin-bottom: 10px; }
        #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row .views-field-view-node a:hover, .views-element-container > div:first-child .views-row .views-field-view-node a:hover {
          font-size: 14px;
          color: #bd4f6c;
          display: flex;
          float: left;
          border: 1px solid #bd4f6c;
          border-top-right-radius: 20px;
          background-color: transparent;
          text-decoration: none; } }

@media (max-width: 768px) {
  .main .sidebar {
    padding: 60px 0; }
  .content img {
    height: 100%; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child, .views-element-container > div:first-child {
    margin-left: 0; }
    #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row, .views-element-container > div:first-child .views-row {
      width: 319px;
      margin: 23px 20px; } }

@media (max-width: 425px) {
  .main {
    display: block; }
    .main .sidebar {
      width: 100%; }
  .content {
    width: 100%; }
    .content img {
      height: 100%; }
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row, .views-element-container > div:first-child .views-row {
    width: 375px; } }

@media (max-width: 375px) {
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row, .views-element-container > div:first-child .views-row {
    width: 335px; } }

@media (max-width: 320px) {
  #block-mytheme-views-block-recent-blogs-block-1 > div > div:first-child .views-row, .views-element-container > div:first-child .views-row {
    width: 280px; } }

.hamburger {
  display: none; }

@media (max-width: 425px) {
  .hamburger {
    display: block; }
  ul.menu {
    display: none;
    list-style: none;
    font-size: 18px;
    background: cadetblue;
    top: 55px;
    height: 11rem;
    right: 0%;
    width: 100%;
    bottom: 68%;
    text-align: center;
    position: fixed; } }

ul.show {
  display: block; }
  ul.show li {
    display: block; }
